.profile-pic{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    padding: 12px;
}
.profile{
    width: 95%;
    margin: auto;
}

/* css for row - column */
.column {
      float: left; 
  }
.column1{
    width: 15%;
}
.column2{
    width: 85%;
    padding: 20px;
}
.row:after {
    content: "";
    display: table !important;
    clear: both !important;
  }

  .inner-column {
    float: left; 
   
  }
.inner-column1{
    width: 30%;
}
.inner-column2{
    width: 70%;
}
.inner-row:after {
    content: "";
    display: table !important;
    clear: both !important;
  }

/* css for row - column */

body{
    line-height: unset !important;
    background-image: linear-gradient(to bottom left, #9098A4,#C29236);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin:0;
}
html{
    height: 100%;
}
.card{
    border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
/* css for styling font */
.full-name{
    font-size: 26px;
    font-weight: bold;
}
.profile-heading{
    font-size: 10px;
    color: #B3B3B3;
    font-weight: bold;
}
.profile-bio{
    font-size: 12px;
    color: #B3B3B3;
}
.profile-contact{
    font-size: 12px;
    color:#FF1493;
}

/* css for styling font */

/* css for three card in a row*/

.column-card{
    float: left;
    width: 30.33%;
    margin: 16px;
}

.row-card:after{
    content: "";
    display: table;
}

/* css for three card in a row*/


/* text on the image*/
.bottom-left {
    position: absolute;
    bottom: 125px;
    left: 16px;
    color: #ffffff;
  }

/* text on the image*/

.card-text{
    text-align: justify;
}

.date-right{
    float: right;
    color: #B3B3B3;
}
.featured-left{
    float: left;
}
.heart-img{
    height: 20px;
    width: 20px;
}
.not-found{
    padding: 50px;
}
a {
    color: #ffffff !important;
    font-weight: bold;
}